<body id="top">
    <div class="tops">
        <div class="top_content">
            <p>地方から都心へ...！</p>
            <p>都心に住んだらやりたいことたくさん！</p>
            <p>その前に，お気に入りの家を見つけて自分だけの部屋を作りましょう．</p>
            
            <button class="top_btn"><%= link_to 'Start', '/users/new' %></button>
            
        </div>
        <div class="top_fot">
            <p>不動産会社の方はこちらから<%= link_to 'Login', '/owners/new' %></p>
        </div>
    </div>
</body>