// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
    color: white;
    background-color: #000044;
    height: 80px;
    width: 100%;
}
footer{
    text-align: center;
    color: white;
    background-color: #000044;
    height: 80px;
    width: 100%;
    
}